* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'cocogoose';
    src: url('_font/cocogoose_pro_italic-trial-webfont.woff2') format('woff2'), url('_font/cocogoose_pro_italic-trial-webfont.woff') format('woff');
}

@font-face {
    font-family: 'keepcalm';
    src: url('_font/keepcalm-medium-webfont.woff2') format('woff2'), url('_font/keepcalm-medium-webfont.woff') format('woff');
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lavender;
}

.tabela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
    height: 750px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 30px;
    font-family: 'keepcalm';
}

section textarea {
    width: 80%;
    height: 200px;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.botoes button {
    height: 55px;
    border: 0;
    width: 100%;
    font-size: 15px;
    font-family: 'cocogoose';
    border-radius: 10px;
}

button:hover {
    background-color: silver;
    cursor: pointer;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.caixa textarea {
    width: 80%;
    height: 200px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}